.current-weather {
    font-size: 2rem;
    float: left;
    padding: 75px 0 75px 40px;
}

.current-temp {
    font-size: 1.2rem;
    margin: 0;
}

@media only screen and (max-width: 850px) {
    .current-weather {
        
    }
}