.quote-container {
    position: absolute;
    bottom: 100px;
    padding: 0 250px 0 250px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 850px) {
    .quote-container {
      position: static;
      width: 100%;
      padding: 0;
  }
}