.todos-container {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 250px;
    background-color: transparent;
}

.todos-heading {
    text-align: center;
    margin: 0;
    padding: 5px;
}

.todo-form {
    width: 100%;
}
.todo-input {
    background: rgba(0,0,0,0.3);
    color: #DCDCDC;
    border: none;
    padding-left: 5px;
    width: 225px;
}

.todo-button {
    background: rgba(0,0,0,0.5);
    border: none;
    color: #DCDCDC;
    line-height: 21px;
}

.todo-button:hover {
    background: rgba(0,0,0,0.7);
}

@media only screen and (max-width: 850px) {
    .todos-container {
      position: static;
      width: 100%;
  }
    .input-container {
      margin: 0 auto;
      width: 250px;
    }

    .todo-items {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}