.App {
  height: 100vh;
  background-size: cover;
  color: white;
  font-family: arial;
}

.app-inner {
  background-color: rgba(0,0,0,0.1);
  height: 100vh;
}

.background-button {
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: transparent;
  margin: 0;
  border: none;
  color: white;
}

.background-button:hover {
  color: grey;
}

.background-button:active {
  color: red;
}

.clock-container {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.clock-time {
  font-size: 6rem;
  margin: 0;
}

.greeting {
  font-size: 4rem;
  margin: 0;
}